.bon-livraison-form {
  section {
    margin-bottom: 2rem;
  }

  .form-item {
    margin-block: 1rem;
  }
  .details {
    display: flex;
    justify-content: space-evenly;
    margin-block: 1rem;
  }
}
