
h1 {
    color: rgb(12, 12, 147); 
    text-align: center;
    margin-top: 50px; 

  }
  
  .MuiDataGrid-cell {
    border: 1px solid rgb(0, 0, 0);
    
  }
  
  .MuiDataGrid-root {
    margin-top: 50px;
    margin-left: 350px;
  }

  .MuiDataGrid-columnHeaders {
    background-color: rgb(148, 148, 217);
}

  
