.demande-nature-container {
    .table {
        width: 50%;
        margin: auto;

        .MuiTableCell-head {
            font-weight: bold;
        }
        .large-cell {
            font-size: 1.25rem;
        }
    }
}