.demande-form-container {
    .card {
        width: 50%;
        margin: auto;
        padding: 2rem;
        .form {
            .input-flex {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                margin: 1rem 0;
            }
        }
        .flex {
            display: flex;
            align-items: center;
        }
    }

    .details-container {
        margin: 2rem 0rem;
    }
}

.add-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    cursor: pointer;
}